/* General Styles */
body {
    font-family: 'League Spartan', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

html{
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}

:root{
    --primary: #7730e6;
    --secondary: #49bfe0;
    --white: #fafafa;
    --black: #323232;
    --white--transparent: hsla(0, 0%, 92%, 0.59);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.header {
    background-color: var(--white);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
} 

.logo{
    flex-grow:2;
    display:flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding:0;
    flex-grow:2;
}

#contact-info .click{
    font-size:14px !important; 
    font-weight:600;
    margin:2.5px;
    color:var(--black);
}

#contact-info .click:hover{
    color:var(--white);
    background-color:var(--primary);
}

.click{
    border-radius: 15px;
    padding:7px 10px;
    transition: all 400ms;
    text-decoration: none;
}

.click:hover{
    cursor:pointer;
    color:var(--white);
}

.nav-list a {
    color: var(--black);
    text-decoration: none;
    transition: color 0.3s;
    font-size:16px;
    transition: all 250ms;
    font-weight:500;
}
.nav-list a:hover {
    color: var(--primary);
}

.container-nav{
    display:flex;
    margin-inline:7.5vw;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.logo img{
    width:300px;
}

#contact-info section{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:fit-content;
}

#contact-info {
    display:flex;
    flex-grow:2;
    justify-content: center;
}



/* Hero Section */
.hero {
    background: url('dentist-with-smile.jpg') no-repeat center center/cover;
    background-position-y: 25%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.hero .btn-secondary {
    background-color: var(--secondary);
    padding: 1rem 1.25rem;;
    border-radius: 0.5rem;
    color: var(--white);
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s;
}
.hero .btn-secondary:hover {
    background-color: var(--black);
    color: var(--white);
}

.hero-content{
    color: var(--black);
    padding:1rem 2.5rem 3rem 2.5rem;
    max-width:600px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:5rem;
    backdrop-filter: blur(10px);
}





/* About Section */
.about {
    padding: 100px 0;
    background-color: var(--white);
    text-align: center;
}
.about h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color:var(--secondary);
}
.about-content {
    line-height: 1.6;
    display:flex;
    justify-content: center;
    gap:20px;
}
.about-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    flex-basis: calc(33.333% - 20px);
}
.card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
.card h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--secondary);
}
.card p {
    font-size: 1rem;
    color: #666;
}

/* Services Section */
.services {
    padding: 100px 0;
    background-color: #f1f1f1;
}
.services h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
    color: var(--secondary);
}
.service-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.service-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    flex-basis: calc(33.333% - 20px);
    transition: transform 0.3s;
}


.service-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
.service-item h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--secondary);
}
.service-item p {
    font-size: 1rem;
    color: #666;
}
.service-item:hover {
    transform: translateY(-5px);
}

.map-container {
    height:450px;
    overflow:hidden;

}

.map-container iframe{
    width:100%;
    
}


/* Footer */
.footer {
    background-color: var(--secondary);
    color: #fff;
    padding: 2.5rem 0 1.5rem 0;
    text-align: center;
}
.footer p {
    margin: 0;
}
.social-icons {
    margin-bottom: 20px;
}
.social-icons a {
    background-color: var(--white);
    margin: 0.25rem;
    display: inline-block;
    transition: transform 0.3s;
    color:var(--secondary);
    font-size:20px;
    border-radius: 0.25rem;
    transition: all 250ms;

padding: 5px 7.5px;
}
.social-icons a:hover {
    color:var(--secondary);
}

#footer-contents{
    display:grid;
    margin-bottom:2.5rem;
    grid-template-columns: 1fr 1fr;
}

#footer-contents .click:hover{
    background-color: var(--secondary);
    color:var(--black);
}

#footer-contents .click{
    padding:0;
}

#footer-contents section{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline:2.5rem;
    gap:0.75rem;
}

#footer-contents section:nth-of-type(1){
    text-align: right;
}
#footer-contents section:nth-of-type(2){
    text-align: left;
}


#footer-contents .border-class{
    border-right: 2px solid var(--white);
}

.footer .click{
    color:var(--white);
}

/* Responsive Styles */
@media (max-width: 992px) {
    .nav-list, #contact-info {
        position:absolute;
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--white);
        position: absolute;
        top: 85px;
        left: 0;
        padding: 20px 0;
    }

    .hero {
        background: url('dentist-with-smile.jpg') no-repeat center center/cover;
        background-position-x: 70%;
        height:100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
    }

    #contact-info{
        top:275px;
        align-items: center;
    }
    .nav-list.active, #contact-info.active {
        display: flex !important;
    }
    .nav-toggle {
        display: flex;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 4px;
    }
    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        background-color:var(--black);
        border-radius: 2px;
        transition: all 0.3s ease;
    }
    .hamburger.active span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
    .header-btn {
        margin-top: 15px;
    }
    .hero h1 {
        font-size: 3rem;
    }
    .about-cards,
    .service-list {
        flex-direction: column;
        align-items: center;
    }
    .card,
    .service-item {
        flex-basis: 80%;
    }
    .container-nav{
        justify-content: space-between;
    }
    .logo{
        flex-grow:0;
    }
    .about-content{
        flex-direction: column;
    }
    .map-container, iframe{
        height:350px !important;    
    }
    .container-nav{
        margin-inline:5vw;
    }

}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero p {
        font-size: 1rem;
    }
    .about h2,
    .services h2,
    .contact h2 {
        font-size: 2rem;
    }

    .footer h3{
        font-size:1rem;
    }

    .footer p, a{
        font-size:0.75rem;
    }

    .social-icons a{
        font-size:0.8rem;
    }
    #footer-contents section{
        padding-inline:1.75rem;
    }
}

@media (max-width: 576px) {
    .hero h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 0.9rem;
    }
    .header .logo img {
        width: 250px;
    }
    .card h3,
    .service-item h3 {
        font-size: 1.5rem;
    }
    .btn-primary {
        padding: 10px;
    }

    .nav-list, #contact-info {
        top: 75px;
    }

    #contact-info{
        top:275px;
    }


}


